[submodule "vendor/gcc"]
	path = vendor/gcc
	url = https://github.com/erikcorry/gcc.git
	branch = fructus
	shallow = true
[submodule "vendor/binutils-gdb"]
	path = vendor/binutils-gdb
	url = https://github.com/erikcorry/binutils-gdb.git
	branch = main
	shallow = true
